<% include ../partials/boilerplate.ejs%>
<% include ../partials/header %>

    <div id="authindex">
        <button class="button is-primary is-inverted is-outlined"><a href="./login">Login</a></button>
        <button class="button is-primary is-inverted is-outlined"><a href="./register">Register</a></button>
    </div>
    <!--https://bulma.io/documentation/elements/button/-->

<% include ./partials/end.ejs %>
