<% include ../partials/boilerplate %>
<% include ../partials/header %>

<div class="form-page">
<div class="add">

<form action="/user/<%=user.id%>?_method=PUT" method="POST">
  <input type="text" name="email" value="<%=user.email%>" /><br>
  <input type="text" name="passw" value="<%=user.passw%>" /><br>
  <textarea name="description" rows="8" cols="80" value="<%=user.description%>" />
  <input type="submit" value="Edit User" />
</form>

</div>
<a href="/user">Back to User</a>
</div>

<% include ../partials/end %>
